@charset "UTF-8";

/* sec_ttl
--------------------------------*/
.sec_ttl_bg.lookbookpv::after{
	background-image: url(../img/lookbookpv/ttl_bg.jpg);
}

/* about
--------------------------------*/
.sec_about .lead{
	text-align: center;
}
.sec_about .movie{
	width: 640px;
	height: 340px;
	margin: 40px auto 0;
}
.sec_about .movie iframe{
	width: 100%;
	height: 100%;
}
.sec_about .txt{
	margin-top: 30px;
}
@media screen and (max-width: 767px) {
	.sec_about .lead{
		text-align: left;
	}
	.sec_about .movie{
		width: 100%;
		height: 0;
		padding-top: 56.25%;
		margin: 5% auto 0;
		position: relative;
	}
	.sec_about .movie iframe{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.sec_about .txt{
		margin-top: 5%;
	}
}


/* brand
--------------------------------*/
.sec_brand{
	position: relative;
}
.sec_brand::before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	max-width: 960px;
	width: 90%;
	transform: translateX(-50%);
	border-top: 2px solid #A2A2A2;
	opacity: .4;
}
.sec_brand .img{
	text-align: center;
	margin-top: 55px;
}
.sec_brand dl dt{
	font-weight: 700;
	margin-top: 20px;
}
.sec_brand dl dd{
	margin-top: 10px;
}
@media screen and (max-width: 767px) {
	.sec_brand .img{
		text-align: center;
		margin-top: 10%;
	}
	.sec_brand dl dt{
		font-size: 4.2vw:;
		margin-top: 4%;
	}
	.sec_brand dl dd{
		margin-top: 2%;
	}
}


/* department
--------------------------------*/
.sec_department{
	padding-top: 20px;
}
.sec_department .link_list {
	justify-content: center;
}
.sec_department .link_list li:last-child{
	margin-right: 0;
}
.sec_department .link_list a .img img {
	width: 100%;
}
.sec_department .link_list a {
	display: block;
}
.sec_department .link_list a .txt {
	min-height: 92px;
	background-color: #191919;
	color: #fff;
	font-size: 2.2rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	padding: 10px 112px 10px 20px;
	position: relative;
}
.sec_department .link_list a .txt::before {
	content: '';
	width: 92px;
	height: 100%;
	min-height: 92px;
	background-color: #95d0c2;
	position: absolute;
	right: 0;
	top: 0;
}
.sec_department .link_list a .txt::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 30px;
	width: 32px;
	height: 9px;
	border-bottom: 2px solid #191919;
	border-right: 2px solid #191919;
	transform: skew(45deg) translateY(-50%);
}
@media screen and (max-width: 767px) {
	.sec_department{
		padding-top: 4%;
	}
	.sec_department .link_list a .txt {
		font-size: 3.5vw;
		min-height: auto;
		min-height: 13vw;
		padding: 5% 20% 5% 5%;
	}
	.sec_department .link_list a .txt::before {
		width: 13vw;
		height: 100%;
		min-height: auto;
	}
	.sec_department .link_list a .txt::after {
		right: 5%;
		width: 5vw;
		height: 1.5vw;
	}
}
